Python 3.8+
Django 3.0.6
django.shortcuts-render, get_object_or_404, redirect, HttpResponseRedirect
django.core.mail-send_mail
django.template-loader
django.contrib-messages
django.views-View
django.urls-path
django.urls-reverse
Mysql