/* -----------------------------------------------------

[Master StyleSheet]

Project:		Exshine html Theme
Version: 		1.01
Assigned to:	S. Ahsan, M. Moklas
Primary use:	Corporate Portfolio

-------------- Table of Content -------------------*/

/*---------------------------------------------------
[Table of contents]

0. Genarel [ body, section, heading, title and etc ]
1. Header Area
2. Slider  Area
3. About Us Area
4. Video Area
5. Team Area
6. Services Area
7. Pricing Area
8. Counter Area
9. Gallery Area
10. Blog Area
11. Blog Single Page
12. Contact Area
13. Footer Area
14. Scroll top


---------------------------------------------------*/


/* Google font imported link */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700|Roboto+Condensed:300,300i,400,400i,700,700i');

/*--------------------------------*/
/*  0. General css
/*--------------------------------*/
html,
body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 100%;
    font-weight: 400 ;
    font-size: 16px;
    line-height: 25px;
}
img {
    width: 100%;
    height: auto;
}
a {
    color: #0195FF;
    text-decoration: none !important;
    outline: none !important;
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase !important;
    margin-top: 0 !important;
    margin-bottom: 10px;
    letter-spacing: 1px !important;
}
p {
    font-weight: 400 ;
    line-height: 25px;
    margin: 0px 0px 20px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.marg50 {
    margin-top: 50px;
}

.marg30 {
    margin-bottom: 30px;
}

.no-padding {
    padding: 0px;
}


/* Placeholder Color CSS */
::-webkit-input-placeholder {
    color: #ffffff !important;
}
::-moz-placeholder {
    color: #ffffff !important;
}
:-ms-input-placeholder {
    color: #ffffff !important;
}
:-moz-placeholder {
    color: #ffffff !important;
}

/*--------------------------------*/
/*  Section Title
/*--------------------------------*/
.bd-section-title {
    text-align: center;
    margin-bottom: 60px;
}
.bd-section-title h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
.bd-title-bordar {
    position: relative;
    width: 100px;
    height: 2px;
    margin: auto;
    background: #0195FF;
    margin-bottom: 30px;
}
.bd-title-bordar i {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    position: absolute;

    margin-left: -12px;top: 50%;
    left: 50%;
    margin-top: -12px;
    width: 25px;
    height: 25px;
    background: #0195FF;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bd-section-title p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
}

/*--------------------------------*/
/*  1. Header Area
/*--------------------------------*/
.logo {
    float: left;
    text-align: center;
    width: 100%;
}

nav {
    background: #fff none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 0 !important;
    float: left;
    width: 100%;
}

.title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

.size {
    font-size: 45px;
    color: #fff;
}

.navbar-nav {
    float: left;
    font-size: 16px;
    margin: 0;
}

.img-left {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.navbar-brand > img {
    display: block
}

.navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
}

.navbar-default {
    background: black none repeat scroll 0 0 !important;  /* black--------rgba(0, 0, 0, 0)-----------------*/
    height: 80px;
    top: 1%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    border-bottom: 10px solid transparent;
    color: #fff;
}
.navbar-header img {
    width: 130px;
    height: 50px;
}
.affix .navbar-brand {
    padding: 0;
}
.affix {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0 !important;
    transition: all 0.35s ease 0s;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    border-bottom: 10px solid transparent;
    padding: 30px 26px 35px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #0195FF;
}
.affix .navbar-nav > li > a {
    padding: 25px 25px 25px;
}
.affix .navbar-nav > li > a:focus, .affix .navbar-nav > li > a:hover,
.affix .navbar-nav > .active > a{
    background-color: #0195FF;
    border-bottom: 10px solid #0D70B7;
    color: #fff;
}


/*--------------------------------*/
/*  2. Slider  Area
/*--------------------------------*/

/* Slider Start */
.main-container {
}
/* Fade Effect start */
.carousel-fade .carousel-inner .item {
  opacity: 0.6;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* Full screen slider start */
.carousel-caption {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    text-align: center;
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
}
.slide-1 {
    background: url("img/slider/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slide-2 {

    background: url("img/slider/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slide-3 {
    background: url("img/slider/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slide-1:before, .slide-2:before, .slide-3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.7);
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
    height: 100vh;
    width:100%;
}
.carousel-caption p {
    letter-spacing: 10px;
    font-size: 16px;
    text-transform: capitalize;
}
.carousel-caption h3 {
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.carousel-caption .btn {
    border-radius: 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #0195FF;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.carousel-caption .btn:hover {
    background: transparent;
    border-color: #0195FF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Animation delays */
.carousel-caption h3:nth-child(2) {
    animation-delay: 1s;
}
.carousel-caption button {
    animation-delay: 1.5s;
}
.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}
/* Slider end */


/*--------------------------------*/
/*  3. About Us Area
/*--------------------------------*/
.bd-about-area {
    padding: 100px 0;
}
.bd-about-col {
}
.bd-about-col h2 {
    font-size: 45px;
}
.bd-about-col h2 span {
    color: #0195FF;
}
.bd-about-col ul li {
    padding: 10px 20px;
    background: #f5f5f5;
    margin-bottom: 3px;
    letter-spacing: 1px;
}
.bd-about-col ul li i {
    margin-right: 10px;
}



/*--------------------------------*/
/*  4. Video Area
/*--------------------------------*/
.bd-video-area {
    padding: 150px 0;
    position: relative;
    background: url(../img/bg/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bd-video-area::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, .8);
    display: block;
    overflow: hidden;
}
.bd-video-col h2 {
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: normal;
}
.bd-video-col a i {
    color: #0195FF;
    font-size: 80px;
}


/*--------------------------------*/
/*  5. Team Area
/*--------------------------------*/
#team {
    background: url("img/slider/1.jpg");
    background: url("img/parallex/team-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    padding: 100px 0;
    transition: all 0.35s ease 0s;
}
.team-col {
}
.team-img {
    position: relative;
    overflow: hidden;
}
.hover-style {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-col:hover .hover-style {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-img img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-col:hover .team-img img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-social {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -10px;
    width: 150px;
}
.team-social i {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: #111111;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-social i:hover {
    color: #0195FF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.member-name {
    padding: 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
}
.member-name h3 {
    font-size: 18px;
    margin-bottom: 0;
}
.member-name p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
}


/*--------------------------------*/
/*  6. Services Area
/*--------------------------------*/
.bd-service-area {
    padding: 100px 0 70px;
}
.bd-service-col {
    margin-bottom: 30px;
}
.bd-service-item {
    position: relative;
    padding-left: 70px;
}
.bd-service-item i {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: #0195FF;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    color: #ffffff;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bd-service-item:hover i {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



/*--------------------------------*/
/*  7. Pricing Area
/*--------------------------------*/
.bd-pricing-area {
    background: url("img/1.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    overflow: hidden;
}
.bd-pricing-col {
    position: relative;
}
.bd-pricing-area .bd-section-title {
    margin-bottom: 100px;
}
.bd-pricing-area .bd-section-title h2 {
    color: #ffffff;
}
.bd-pricing-area .bd-section-title p {
    color: #ffffff;
}
.bd-price {
    position: absolute;
    left: 50%;
    top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    background: #ffffff;
    text-align: center;
    background: #ffffff;
    color: #0195FF;
    z-index: 999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bd-pricing-col:hover .bd-price {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1); /* Standard syntax */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bd-price h3 {
    font-size: 28px;
    line-height: 100px;
}
.bd-pricing-col h2 {
    margin-bottom: 0;
    margin-top: 10px;
}
.bd-pricing-area .table-headline {
    background: #0195ff;
    color: #fff;
    text-align: center;
    padding: 50px 0 50px;
    overflow: hidden;
    position: relative;
    border-top: 5px solid #ffffff;
}
.bd-pricing-area .table-headline::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40%;
    background: #0482d9;
    left: 0;
    top: -20px;
    transform: skewY(-175deg);
}
.price-list {
    background: #ffffff none repeat scroll 0 0;
    padding: 20px 20px 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.price-list p {
    padding: 10px;
}
.price-list a i {
    margin-top: 10px;
    font-size: 30px;
    color: #0195ff;
}
.price-list a i:hover {
    color: #333333;
}
.bd-pricing-col ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

/*--------------------------------*/
/*  8. Counter Area
/*--------------------------------*/
.counter {
    background: #f6f6f6;
    padding: 100px 0;
    text-align: center;
}

.counter i {
    font-size: 45px;
    margin-bottom: 20px;
}
.counter span {
    color: #0195FF;
    font-size: 20px;
}

/*--------------------------------*/
/*  9. Gallery Area
/*--------------------------------*/
#Gallery {
    padding: 100px 0;
    overflow: hidden;
}

#controls ul li {
    float: left;
    margin-right: 20px;
}

#container {
    clear: both;
}
.bd-portfolio-item {
    position: relative;
    overflow: hidden;
}
.bd-overlayer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0); /* Standard syntax */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.bd-portfolio-item:hover .bd-overlayer {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1); /* Standard syntax */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.bd-overlayer i {
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -15px;
    z-index: 999;
    text-align: center;
}
.bd-pad0 {
    padding: 0;
}


/*--------------------------------*/
/*  10. Blog Area
/*--------------------------------*/
#blog {
    overflow: hidden;
    padding: 100px 0;
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
    -ms-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    position: relative;
}

#blog .blog-post {
    background: #fff none repeat scroll 0% 0%;
    box-shadow: 0px 0px 1px #828282;
}

#blog .blog-post .image {
    display: block;
    overflow: hidden;
    position: relative;
}
.blog-post .image {
    position: relative;
    overflow: hidden;
}
.blog-post .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
}

.blog-post:hover .image .overlay {
    opacity: 1;
    transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
}

#blog .blog-post .contents-box {
    margin-top: 10px;
    padding: 15px 15px 0px;
}

#blog .blog-post .contents-box .date-box {
    vertical-align: top;
    display: table-cell;
    padding-right: 15px;
}

#blog .blog-post .contents-box .date-box .inner {
    text-align: center;
    width: 65px;
}

#blog .blog-post .contents-box .date-box .inner .date {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    background: #0195FF;
    padding: 15px 6px;
}

#blog .blog-post .contents-box .date-box .inner .date b {
    font-size: 24px;
    font-weight: 700;
    display: block;
    color: #fff;
    line-height: 20px;
}

#blog .blog-post .contents-box .date-box .inner .comment {
    font-size: 20px;
    color: #202A30;
    line-height: 17px;
    font-weight: 500;
    padding: 16px 0px;
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-color: #E6E6E6;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

#blog .blog-post .contents-box .content {
    display: table-cell;
    vertical-align: top;
}

#blog .blog-post .contents-box .content a h3 {
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin: 0px 0px 12px;
    line-height: 26px;
}

#blog .blog-post .contents-box .content p {
    font-size: 14px;
    color: #333333;
    line-height: 26px;
}

#blog .blog-post .contents-box .read-btn {
    margin-top: 15px;
    border-top: 1px solid #d9d9d9;
    display: block;
    position: relative;
    padding: 5px;
    color: #999;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

#blog .blog-post .contents-box .read-btn:hover {
    color: #fff;
    background: #0195FF;
}

#blog .blog-post .contents-box .read-btn:hover .btn {
    color: #FFFFFF;
}

#blog .blog-post .contents-box .read-btn .btn {
    position: relative;
    display: block;
    line-height: 24px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 20px;
}

/*--------------------------------*/
/*  11. Blog Single Page
/*--------------------------------*/
.blog-header {

    background: rgba(0, 0, 0, 0) url("img/parallex/header4.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    padding: 250px 0 150px;
    position: relative;
    transition: all 0.35s ease 0s;
    margin-bottom: 100px;
    text-align: center;
}

#warpper-blog .inner-blog .post-title {
    color: #535353;
    display: inline-block;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

#warpper-blog .inner-blog .post-title a {
    color: #535353;
    text-decoration: none;
}

#warpper-blog .inner-blog .post-meta {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#warpper-blog .inner-blog .post-meta span a {
    color: #696969;
    font-size: 14px;
    margin-right: 15px;
}

#warpper-blog .inner-blog .post-meta span a:hover {
    color: #0195FF;
    text-decoration: none;
}

#warpper-blog .inner-blog .blog-image-box {
    margin-bottom: 35px;
    position: relative;
}

#warpper-blog .inner-blog .blog-image-box .overly {
    background: rgba(1, 149, 255, 0.76) none repeat scroll 0% 0%;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    transition: all 500ms ease 0s;
    transform: scale(0);
}

#warpper-blog .inner-blog .blog-image-box:hover .overly {
    animation-name: hvr-pulse;
    animation-duration: 700ms;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    transform: scale(1);
    right: 0px !important;
    opacity: 1;
}

#warpper-blog .inner-blog .blog-image-box .overly .overly-icon {
    left: 50%;
    line-height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    position: absolute;
    top: 50%;
    text-align: center;
}

#warpper-blog .inner-blog .blog-image-box .overly .overly-icon .heart-icon {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #0195FF;
    color: #0195FF;
    display: inline-block;
    font-size: 18px;
    height: 42px;
    line-height: 44px;
    margin: 0px 15px 15px 0px;
    position: relative;
    text-align: center;
    width: 42px;
    z-index: 1;
}

#warpper-blog .inner-blog .post-title h3 {
    margin-bottom: 0px;
}

#warpper-blog p {
    font-weight: 400 !important;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
}

#warpper-blog .inner-blog blockquote {
    border-left: 5px solid #0195FF;
}

#warpper-blog .inner-blog .blog-post-list li {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 5px;
    padding: 0px;
}

#warpper-blog .inner-blog .blog-post-list li .fa {
    color: #0195FF;
    font-size: 12px;
    line-height: 30px;
    padding-right: 10px;
}

#warpper-blog .inner-blog .section-title .col {
    padding: 0px;
}

#warpper-blog .blog-comment .comment-list {
    margin-top: 30px;
}

#warpper-blog .blog-comment .comment-list li {
    border: 1px solid #f3f3f3;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 1px 0 rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 1px 0 rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 1px 0 rgba(0, 0, 0, 0.12);
    display: inline-block;
    margin: 0px 0px 20px;
    padding: 12px;
    width: 100%;
}

#warpper-blog .blog-comment .comment-list li .comment-avatar {
    border: 1px solid #b1b1b1;
    height: 85px;
    padding: 5px;
    width: 85px;
}

#warpper-blog .blog-comment .comment-list li .comment-meta {
    display: block;
    overflow: hidden;
    position: relative;
    padding-left: 15px;
}

#warpper-blog .blog-comment .comment-sub {
    padding-left: 45px;
}

#warpper-blog .blog-comment .comment-list .comment-meta a {
    font-size: 16px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #535353;
}

#warpper-blog .blog-comment .comment-list .comment-meta span em {
    color: #999999;
    font-size: 13px;
    margin-left: 15px;
}

#warpper-blog .blog-comment .comment-list .comment-meta span .reply {
    background: #0195FF;
    color: #fff;
    font-size: 16px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    padding: 3px 15px;
    text-decoration: none;
}

#warpper-blog .blog-comment .comment-list .comment-meta span .reply .fa {
    font-size: 12px;
    margin-right: 5px;
}

#warpper-blog .comment-box .padding {
    margin-bottom: 30px;
    padding-left: 0px;
}

#warpper-blog .comment-box .input-group .input-group-addon {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    color: #9a9b9a;
}

#warpper-blog .comment-box .input-group .form-control {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    height: 50px;
    border: 1px solid #d0d0d0;
    font-size: 15px;
    color: #535353;
    width: 100%;
}

#warpper-blog .comment-box .form-group .message {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    font-size: 15px;
    height: auto;
    resize: none;
    padding: 15px;
    min-height: 210px;
}

#warpper-blog .comment-box .form-group .form-control:focus {
    border-color: #0195FF;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#warpper-blog .comment-box .contact-btn {
    background: #bababa;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    color: #ffffff;
    font-size: 16px;
    min-height: 50px;
    text-transform: uppercase;
    width: 100%;
}

#warpper-blog .comment-box .contact-btn:hover {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    background: #0195FF;
}

#warpper-blog .blog-sidber .form-group .form-control {
    border: 1px solid #d0d0d0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    color: #535353;
    font-size: 15px;
    height: 45px;
    width: 100%;
}

#warpper-blog .blog-sidber .form-group .btn-default {
    background: #0195FF;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 34px;
    padding: 6px 16px;
    height: 45px;
}

.section {
    border-bottom: 3px solid #0195FF;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 0 0 15px 0;
}

#warpper-blog .blog-sidber .recent-post ul > li {
    border-bottom: 1px solid #F0F0F0;
    display: block;
    margin-bottom: 23px;
    margin-left: 5px;
    overflow: hidden;
    padding: 10px 0px 20px;
    position: relative;
}

#warpper-blog .blog-sidber .recent-post ul > li > a > img {
    float: left;
    padding: 0px 10px 0px 0px;
}

#warpper-blog .blog-sidber .recent-post ul > li > h6 {
    font-size: 15px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
}

#warpper-blog .blog-sidber .recent-post ul > li > h6 > a {
    color: #999;
    text-decoration: none;
}

#warpper-blog .blog-sidber .recent-post ul > li > h6 > a:hover,
#warpper-blog .blog-sidber .category .cate-list > li > a:hover {
    color: #0195FF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#warpper-blog .blog-sidber .recent-post ul > li > span {
    color: #0195FF;
}

#warpper-blog .blog-sidber .category .cate-list > li {
    border-bottom: 1px solid #f2f2f2;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 8px;
    padding: 12px 0px;
    text-transform: uppercase;
}

#warpper-blog .blog-sidber .category .cate-list > li > a {
    color: #535353;
    text-decoration: none;
}

#warpper-blog .blog-sidber .category .cate-list > li .fa {
    color: #0195FF;
    margin-right: 5px;
}

#warpper-blog .blog-sidber .textwidget .content-text {
    background-color: #0195FF;
    padding: 30px;
}

#warpper-blog .blog-sidber .textwidget .content-text .title {
    color: #fff;
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 0px;
}

#warpper-blog .blog-sidber .textwidget .content-text p {
    color: #fff;
}

#warpper-blog .blog-sidber .textwidget .content-text .button.white {
    border: none;
    background-color: #fff;
    cursor: pointer;
    color: #21242b;
    display: inline-block;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    text-shadow: none;
    white-space: nowrap;
}

#warpper-blog .blog-sidber .textwidget .content-text .button i {
    margin-left: 8px;
}

#warpper-blog .blog-sidber .populer-tag .add-btn .tag_btn {
    background: #0195FF;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    color: #ffffff;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 10px 0px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
}

#warpper-blog .blog-sidber .contact-details .contact-info > address > ul > li {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}

#warpper-blog .blog-sidber .contact-details .contact-info > address > ul > li > span {
    margin-right: 12px;
    border: 1px solid #0195FF;;
    padding: 5px;
    font-size: 24px;
    height: 42px;
    line-height: 30px;
    text-align: center;
    width: 42px;
}

#warpper-blog .blog-sidber .contact-details .contact-info > address > ul > li > b {
    color: #535353;
}

/*--------------------------------*/
/*  12. Contact Area
/*--------------------------------*/
#contact {
    background: url("img/parallex/contact-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    overflow: hidden;
    padding: 100px 0;
    transition: all 0.35s ease 0s;
}


#contact .form-group {
    margin-bottom: 20px;
}

#contact input[type="text"] {
    background-color: rgba(255, 255, 255, 0.08);
    background-image: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 57px;
    line-height: 1.42857;
    padding: 10px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#contact input[type="email"] {
    background-color: rgba(255, 255, 255, 0.08);
    background-image: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 57px;
    line-height: 1.42857;
    padding: 10px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#contact textarea {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #FFFFFF;
}

#contact .btn-block {
    background: #0195FF none repeat scroll 0 0;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 16px;
    margin-bottom: 50px;
    margin-right: 15px;
    padding: 10px 0;
    transition: all 0.3s ease 0s;
    width: 165px;
}

/*------------ Map --------------*/
#map_canvas {
    width: 100%;
    height: 50vh;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    overflow: hidden;
}

#map_canvas:hover {
    opacity: .9;
}

/*--------------------------------*/
/*  13. Footer Area
/*--------------------------------*/
.main-footer {
    padding: 80px 0 40px;
    background: #111111;
}
.footer-col {
    padding-bottom: 30px;
}
.footer-col h3 {
    color: #ffffff;
    margin-bottom: 40px;
}
.footer-col h3 span {
    color: #0195FF;
}
.footer-col p {
    color: #d0d0d0;
}
.footer-col .top-para {
    margin-bottom: 20px;
}
.footer-col ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #353535;
}
.footer-col ul li:last-child {
    border-bottom: none;
}
.footer-col ul li a {
    display: block;
    color: #d0d0d0;
}
.twitter-box {
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
    margin-bottom: 10px;
    position: relative;
}
.twitter-box p {
    z-index: 1;
    margin-bottom: 0;
}
.twitter-box p a {
    color: #0195FF;
}
.address-col ul {
    margin-top: 20px;
}
.address-col ul li {
    border-bottom: none;
    color: #d0d0d0;
}
.address-col ul li i {
    width: 25px;
}

.copyright-bar {
    padding: 20px 0;
    background: #000000;
}
.copyright-col p {
    color: #999999;
    margin:0;
}
.copyright-col p a {
    color: #ffffff;
}

/*--------------------------------*/
/* 14.Scroll top
/*--------------------------------*/
.back-to-top {
    background: #0195FF;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    bottom: 20px;
    cursor: pointer;
    color: #fff;
    display: none;
    font-size: 28px;
    height: 50px;
    line-height: 1.7;
    right: 40px;
    position: fixed;
    text-align: center;
    width: 50px;
    z-index: 99999;
}

.back-to-top:hover{
    background: #0195FF;
    color: #ffffff;
}





