
-------------- Table of Content -------------------*/

/*---------------------------------------------------
[Table of contents]

0. Genarel [ body, section, heading, title and etc ]
1. Header Area
2. Slider  Area
3. About Us Area
4. Team Area
5. Services Area
6. Pricing Area
7. Counter Area
8. Contact Area
9. Footer Area
10. Scroll top


---------------------------------------------------*/
/*--------------------------------*/
/*  contact css
/*--------------------------------*/


/* Google font imported link */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700|Roboto+Condensed:300,300i,400,400i,700,700i');

/*--------------------------------*/
/*  0. General css
/*--------------------------------*/
html,
body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 100%;
    font-weight: 400 ;
    font-size: 16px;
    line-height: 25px;
}
img {
    width: 100%;
    height: auto;
}
a {
    color: #0195FF;
    text-decoration: none !important;
    outline: none !important;
    transition: all 0.35s ease 0s;
    -webkit-transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase !important;
    margin-top: 0 !important;
    margin-bottom: 10px;
    letter-spacing: 1px !important;
}
p {
    font-weight: 400 ;
    line-height: 25px;
    margin: 0px 0px 20px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.marg50 {
    margin-top: 50px;
}

.marg30 {
    margin-bottom: 30px;
}

.no-padding {
    padding: 0px;
}


/* Placeholder Color CSS */
::-webkit-input-placeholder {
    color: #ffffff !important;
}
::-moz-placeholder {
    color: #ffffff !important;
}
:-ms-input-placeholder {
    color: #ffffff !important;
}
:-moz-placeholder {
    color: #ffffff !important;
}

/*--------------------------------*/
/*  Section Title
/*--------------------------------*/
.bd-section-title {
    text-align: center;
    margin-bottom: 60px;
}
.bd-section-title h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
.bd-title-bordar {
    position: relative;
    width: 100px;
    height: 2px;
    margin: auto;
    background: #0195FF;
    margin-bottom: 30px;
}
.bd-title-bordar i {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    position: absolute;

    margin-left: -12px;top: 50%;
    left: 50%;
    margin-top: -12px;
    width: 25px;
    height: 25px;
    background: #0195FF;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bd-section-title p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
}

/*--------------------------------*/
/*  1. Header Area
/*--------------------------------*/
.logo {
    float: left;
    text-align: center;
    width: 100%;
}

.nav-contact-1 {
    float: left;
    text-align: center;
    width: 170px;
    height: 80px;
    padding: 5px 0px 15px 15px;
}

nav {
    background: #fff none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 0 !important;
    float: left;
    width: 100%;
}

.title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

.size {
    font-size: 45px;
    color: #fff;
}

.navbar-nav {
    float: left;
    font-size: 16px;
    margin: 0;
}

.img-left {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.navbar-brand > img {
    display: block
}

.navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
}

.navbar-default {
    background: black none repeat scroll 0 0 !important;  /* black--------rgba(0, 0, 0, 0)-----------------*/
    height: 80px;
    top: 1%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    border-bottom: 10px solid transparent;
    color: #fff;
}
.navbar-header img {
    width: 130px;
    height: 50px;
}
.affix .navbar-brand {
    padding: 0;
}
.affix {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0 !important;
    transition: all 0.35s ease 0s;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    border-bottom: 10px solid transparent;
    padding: 30px 26px 35px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #0195FF;
}
.affix .navbar-nav > li > a {
    padding: 25px 25px 25px;
}
.affix .navbar-nav > li > a:focus, .affix .navbar-nav > li > a:hover,
.affix .navbar-nav > .active > a{
    background-color: #0195FF;
    border-bottom: 10px solid #0D70B7;
    color: #fff;
}


/*--------------------------------*/
/*  2. Slider  Area
/*--------------------------------*/

/* Slider Start */
.main-container {
}
/* Fade Effect start */
.carousel-fade .carousel-inner .item {
  opacity: 0.6;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* Full screen slider start */
.carousel-caption {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    text-align: center;
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
}
.slide-1 {
    background: url("img/slider/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slide-2 {

    background: url("img/slider/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slide-3 {
    background: url("img/slider/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slide-1:before, .slide-2:before, .slide-3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.7);
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
    height: 100vh;
    width:100%; 
}
.carousel-caption p {
    letter-spacing: 10px;
    font-size: 16px;
    text-transform: capitalize;
}
.carousel-caption h3 {
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.carousel-caption .btn {
    border-radius: 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #0195FF;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.carousel-caption .btn:hover {
    background: transparent;
    border-color: #0195FF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Animation delays */
.carousel-caption h3:nth-child(2) {
    animation-delay: 1s;
}
.carousel-caption button {
    animation-delay: 1.5s;
}
.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}
/* Slider end */


/*--------------------------------*/
/*  3. About Us Area
/*--------------------------------*/
.bd-about-area {
    padding: 100px 0;
}
.bd-about-col {
}
.bd-about-col h2 {
    font-size: 45px;
}
.bd-about-col h2 span {
    color: #0195FF;
}
.bd-about-col ul li {
    padding: 10px 20px;
    background: #f5f5f5;
    margin-bottom: 3px;
    letter-spacing: 1px;
}
.bd-about-col ul li i {
    margin-right: 10px;
}
/*--------------------------------*/
/*  4. Team Area
/*--------------------------------*/
#team {
    background: url("img/slider/1.jpg");
    background: url("img/parallex/team-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    padding: 100px 0;
    transition: all 0.35s ease 0s;
}
.team-col {
}
.team-img {
    position: relative;
    overflow: hidden;
}
.hover-style {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-col:hover .hover-style {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-img img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-col:hover .team-img img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-social {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -10px;
    width: 150px;
}
.team-social i {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: #111111;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.team-social i:hover {
    color: #0195FF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.member-name {
    padding: 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
}
.member-name h3 {
    font-size: 18px;
    margin-bottom: 0;
}
.member-name p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
}
/*--------------------------------*/
/*  5. Services Area
/*--------------------------------*/
.bd-service-area {
    padding: 100px 0 70px;
}
.bd-service-col {
    margin-bottom: 30px;
}
.bd-service-item {
    position: relative;
    padding-left: 70px;
}
.bd-service-item i {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: #0195FF;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    color: #ffffff; 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bd-service-item:hover i {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*--------------------------------*/
/*  6. Pricing Area
/*--------------------------------*/
.bd-pricing-area {
    background: url("img/1.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    overflow: hidden;
}
.bd-pricing-col {
    position: relative;
}
.bd-pricing-area .bd-section-title {
    margin-bottom: 100px;
}
.bd-pricing-area .bd-section-title h2 {
    color: #ffffff;
}
.bd-pricing-area .bd-section-title p {
    color: #ffffff;
}
.bd-price {
    position: absolute;
    left: 50%;
    top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    background: #ffffff;
    text-align: center;
    background: #ffffff;
    color: #0195FF;
    z-index: 999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bd-pricing-col:hover .bd-price {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1); /* Standard syntax */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bd-price h3 {
    font-size: 28px;
    line-height: 100px;
}
.bd-pricing-col h2 {
    margin-bottom: 0;
    margin-top: 10px;
}
.bd-pricing-area .table-headline {
    background: #0195ff;
    color: #fff;
    text-align: center;
    padding: 50px 0 50px;
    overflow: hidden;
    position: relative;
    border-top: 5px solid #ffffff;
}
.bd-pricing-area .table-headline::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40%;
    background: #0482d9;
    left: 0;
    top: -20px;
    transform: skewY(-175deg);
}
.price-list {
    background: #ffffff none repeat scroll 0 0;
    padding: 20px 20px 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.price-list p {
    padding: 10px;
}
.price-list a i {
    margin-top: 10px;
    font-size: 30px;
    color: #0195ff;
}
.price-list a i:hover {
    color: #333333;
}
.bd-pricing-col ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

/*--------------------------------*/
/*  7. Counter Area
/*--------------------------------*/
.counter {
    background: #f6f6f6;
    padding: 100px 0;
    text-align: center;
}

.counter i {
    font-size: 45px;
    margin-bottom: 20px;
}
.counter span {
    color: #0195FF;
    font-size: 20px;
}

/*--------------------------------*/
/*  8. Contact Area
/*--------------------------------*/
#contact {
    background: url("img/parallex/contact-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    overflow: hidden;
    padding: 100px 0;
    transition: all 0.35s ease 0s;
}


#contact .form-group {
    margin-bottom: 20px;
}

#contact input[type="text"] {
    background-color: rgba(255, 255, 255, 0.08);
    background-image: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 57px;
    line-height: 1.42857;
    padding: 10px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#contact input[type="email"] {
    background-color: rgba(255, 255, 255, 0.08);
    background-image: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 57px;
    line-height: 1.42857;
    padding: 10px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#contact textarea {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #FFFFFF;
}

#contact .btn-block {
    background: #0195FF none repeat scroll 0 0;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 16px;
    margin-bottom: 50px;
    margin-right: 15px;
    padding: 10px 0;
    transition: all 0.3s ease 0s;
    width: 165px;
}

/*------------ Map --------------*/
#map_canvas {
    width: 100%;
    height: 50vh;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    overflow: hidden;
}

#map_canvas:hover {
    opacity: .9;
}

/*--------------------------------*/
/*  9. Footer Area
/*--------------------------------*/
.main-footer {
    padding: 80px 0 40px;
    background: #111111;
}
.footer-col {
    padding-bottom: 30px;
}
.footer-col h3 {
    color: #ffffff;
    margin-bottom: 40px;
}
.footer-col h3 span {
    color: #0195FF;
}
.footer-col p {
    color: #d0d0d0;
}
.footer-col .top-para {
    margin-bottom: 20px;
}
.footer-col ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #353535;
}
.footer-col ul li:last-child {
    border-bottom: none;
}
.footer-col ul li a {
    display: block;
    color: #d0d0d0;
}
.twitter-box {
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
    margin-bottom: 10px;
    position: relative;
}
.twitter-box p {
    z-index: 1;
    margin-bottom: 0;
}
.twitter-box p a {
    color: #0195FF;
}
.address-col ul {
    margin-top: 20px;
}
.address-col ul li {
    border-bottom: none;
    color: #d0d0d0;
}
.address-col ul li i {
    width: 25px;
}

.copyright-bar {
    padding: 20px 0;
    background: #000000;
}
.copyright-col p {
    color: #999999;
    margin:0;
}
.copyright-col p a {
    color: #ffffff;
}

/*--------------------------------*/
/* 10.Scroll top
/*--------------------------------*/
.back-to-top {
    background: #0195FF;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    bottom: 20px;
    cursor: pointer;
    color: #fff;
    display: none;
    font-size: 28px;
    height: 50px;
    line-height: 1.7;
    right: 40px;
    position: fixed;
    text-align: center;
    width: 50px;
    z-index: 99999;
}

.back-to-top:hover{
    background: #0195FF;
    color: #ffffff;
}





