
<!doctype html>
<html lang="en">
<body>
        <a class="" href="https://www.ridelectric.pl/sklep">
            <img class="" style="width: 150px;" src="https://www.ridelectric.pl/static/img/logo.png" alt="Logo">
        </a>
        <div class="" role="alert">
            <h1>Witaj {{ name }}</h1>
            <h5>Dziękujemy za dokonanie rejestracji w naszym serwisie https://www.ridelectric.pl/!</h5>
            <p>zaloguj się za pomocą nazwy użytkownika {{ name }},
                 oraz Hasła podanego podczas rejestracji.</p>
            <p>Obecnie pracujemy nad funkcjonalnością strony, w krótce dostepnę będzie wiecej funkcji.</p>
            <p>Zapoznaj sie z naszymi produktami klikając w poniższy link..</p>
        </div>
        <a class="" href="https://www.ridelectric.pl/sklep">
            <span class="">https://www.ridelectric.pl/sklep/</span>
        </a>
</body>

</html>
