/**************StyleSheet ridelectric shoop***************

1.

 */

.body-standard {
    background-color: whitesmoke;
}

.body-nav {
    background-color: gray;
}

.image-logo {
    height: 5rem;
}
