{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'img/ficon.png' %}">
    <title>ridelectric.pl - Contact</title>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script>
    <!-- Compiled and minified CSS -->
    <link type="text/css" rel="'stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
             });
    </script>
</head>
<body class="body-contact" style="background-color:#C0C0C0;">
                <!--nevbar-->
<nav class="nav-extended #37474f blue-grey darken-3 z-depth-5" style="height: 70px; opacity:0.9;" >
    <a href="/">
        <img id="logo" style="width: 170px; height: 80px; padding: 5px 0px 15px 15px;"
             src="{% static 'img/logo.png' %}" alt="image"/>
    </a>
    <a class="sidenav-trigger" style="color:black;" href="#" data-target="slide-out" >
        <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"><h7>Home</h7></a></li>
        <li><a href="/#about"><h7 >O Nas</h7></a></li>
        <li><a href="/#Services"><h7>Instalacje Fotowoltaiczne</h7></a></li>
        <li><a href="/sklep"><h7>Sklep</h7></a></li>
        <li><a href="/contact"><h7>Kontakt</h7 style="padding: 10px;"></a></li>
    </ul>
</nav>
<ul id="slide-out" class="sidenav #37474f blue-grey darken-3 z-depth-5" style="opacity:0.8;">
        <li><a href="/"  style="color:white;">
        <i class="material-icons"  style="color:white;">home</i>Home</a></li>
    <li><a href="/#about" style="color:white;">
        <i class="material-icons" style="color:white;">sentiment_very_satisfied</i>O Nas</a></li>
    <li><a href="/#Services" style="color:white;">
        <i class="material-icons" style="color:white;">subtitles</i>Instalacje Fotowoltaiczne</a></li>
    <li><a href="/sklep" style="color:white;">
        <i class="material-icons" style="color:white;">folder_shared</i>Sklep</a></li>
    <li><a href="/contact" style="color:white;">
        <i class="material-icons" style="color:white;">mail</i>Kontakt</a></li>
</ul>
<p></p>
<div class="container #37474f blue-grey darken-3 z-depth-5" style="padding: 15px 15px 15px 15px;">
    <div class="container">
        <div class="center " style="color:grey;">
            <h5 style="padding: 40px 0px 0px 0px;">Masz pytania? A może jesteś zainteresowany produktem?</h5>
            <h5 style="padding: 0px 0px 40px 0px;">Czekamy na Twoją wiadomość 👍</h5>
            <h5 style="color:white;">{{confirmation_text}}</h5>
            <h6 style="color:white; padding:0px 0px 40px 0px;"> {{send}} </h6>
            <p></p>
        </div>
            <div class="row">
                <form class="col s12" action="." method="POST"> {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">account_circle</i>
                            {{ contact_form.name }}
                          <label for="firstname">Imię*</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">accessibility</i>
                          {{ contact_form.surname }}
                          <label for="surname">Nazwisko</label>
                        </div>
                     </div>
                      <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">business_center</i>
                          {{ contact_form.company }}
                          <label for="company">Firma</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">email</i>
                          {{ contact_form.email }}
                          <label for="email">Email*</label>
                        </div>
                      </div>
                        <div class="row">
                              <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">mode_edit</i>
                                    {{ contact_form.question }}
                                    <label for="question">Wiadomość*</label>
                                </div>
                              </div>
                          </div>
                        <p>
                          <label>
                            {{ contact_form.confirmation }}
                            <span>Wyślij potwierdzenie na mój adres E-mail</span>
                          </label>
                        </p>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Wyślij
                            <i class="material-icons right">send</i>
                        </button>
                </form>
              </div>
            <div class="center " style="color:grey;">
                <h5>beExcellent</h5>
                <h5>ul.Gaik 45a/4</h5>
                <h5>31-338 Kraków, Polska</h5>
                <adress><a href="mailto: diddychriss@gmail.com"><h5>info@ridelectric.pl</h5></a></adress>
                <h5 style="padding: 0px 0px 40px 0px;">+ 48 796 720 019</h5>
            </div>
        <div class="row container center" style="padding: 30px 0px 30px 0px;">
            <a href="https://www.facebook.com/ridelectricKRK/" >
                <img class="ico-about" src="{% static 'img/fb.png' %}"">
            </a>
            <a href="https://www.ridelectric.pl/">
                <img class="ico-about" src="{% static 'img/ficon.png' %}">
            </a>
        </div>
    </div>
</div>
</body>
</html>
