<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <div class="container center">
        <div class="container center">
            <h4> Witamy {{ name }} {{ surname }}</h4>
            <p>-</p>
            <h5>Dziękujemy za skorzystanie z Formularza Kontaktowego ridelectric.pl</h5>
            <h5>Twoja wiadomość: {{ question }}</h5>
            <h5>W krótce odpowiemy na Twoje Pytanie..</h5>
            <p>-</p>
            <h5>Serdecznie Pozdrawiam</h5>
            <h5>Zespół ridelectric.pl</h5>
        </div>
    </div>
</body>
</html>